[user]
	email = logan.swartzendruber@gmail.com
	name = Logan Swartzendruber
[pull]
	ff = only
[alias]
	permission-reset = !git diff -p -R --no-ext-diff --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[url "git@github.com:"]
	insteadOf = https://github.com/
