@import "../matugen/generated/colors.css";

window#osd {
  border-radius: 10px;
  border: 2px solid @outline_variant;
  background: alpha(@surface_container_low, 0.4);
}

window#osd #container {
  margin: 0;
  padding: 0;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: @primary;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: alpha(@primary_container, 0.5);
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @primary;
}
